{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add New Recipe</h3>

    <div class="row card-panel grey lighten-5">
        <form action="" method="POST" class="col s12">

            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-cookie-bite prefix teal-text text-lighten-3"></i>
                    <input name="recipe_name" minlength="8" maxlength="50" pattern="[0-9a-zA-Z]" required id="recipe_name" type="text" class="validate">
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user prefix teal-text text-lighten-3"></i>
                    <input name="author_name" minlength="8" maxlength="50" pattern="[0-9a-zA-Z]" required id="author_name" type="text" class="validate">
                    <label for="author_name">Author Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-stopwatch prefix teal-text text-lighten-3"></i>
                    <input name="prep_time" name="prep_time" minlength="1" maxlength="3" pattern="[0-9]" required id="prep_time" type="text" class="validate">
                    <label for="prep_time">Cooking Time</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-clock prefix teal-text text-lighten-3"></i>
                    <input name="cook_time" name="cook_time" minlength="1" maxlength="3" pattern="[0-9]" required id="cook_time" type="text" class="validate">
                    <label for="cook_time">Cooking Time</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-regular fa-clock prefix teal-text text-lighten-3"></i>
                    <input name="completion_time" name="completion_time" minlength="1" maxlength="3" pattern="[0-9]" required id="completion_time" type="text" class="validate">
                    <label for="completion_time">Completion Time</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-list prefix teal-text text-lighten-3"></i>
                    <textarea id="ingredients" required name="ingredients" class="materialize-textarea"></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-book prefix teal-text text-lighten-3"></i>
                    <textarea id="method" name="method" required class="materialize-textarea"></textarea>
                    <label for="method">Method</label>
                </div>
            </div>

            <div name="diff_level" id="diff_level" required class="input-field col s12">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Difficult</option>
                </select>
              <label for="diff_level">Difficulty Level</label>
            </div>

            <div class="row">
                <button class="col s12 btn-large teal text-shadow" type="submit">
                  Add Recipe <i class="fa-solid fa-plus"></i>
                </button>
            </div>

        </form>
      </div>

{% endblock %}