{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header teal lighten-3 white-text">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipe.recipe_name }} </strong> <strong> - </strong> {{ recipe.completion_time }} Minutes - {{ recipe.cooking_method_name }}
            </div>

            <div class="collapsible-body">
                <div>
                    <strong>Original Author: </strong> {{ recipe.credit }}
                </div>
                <div>
                    <strong>Preparation Time: </strong> {{ recipe.prep_time }} Minutes
                </div>
                <div>
                    <strong>Cooking Time: </strong> {{ recipe.cook_time }} Minutes
                </div>
                <div>
                    <strong>Completion Time: </strong> {{ recipe.completion_time }} Minutes
                </div>
                <div>
                    <strong>Difficulty: </strong> {{ recipe.diff_level }}
                </div>
                <img class="center-align" src="{{ recipe.photo_path }}" alt="photo of {{ recipe.recipe_name }}">
                <p>
                    <strong>Ingredients: </strong> {{ recipe.ingredients }}
                </p>
                <p>
                    <strong>Method: </strong> {{ recipe.method }}
                </p>
            </div>
        </li>
        {% endfor %}
      </ul>

{% endblock %}