{% extends "base.html" %}
{% block content %}
    {% for recipe in recipes %}
        {{ recipe.cooking_method_name }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.cook_time }}<br>
        {{ recipe.diff_level }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method }}<br>
        {{ recipe.credit }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header teal lighten-3 white-text"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header teal lighten-3 white-text"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header teal lighten-3 white-text"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>

{% endblock %}