<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
</head>
<body>
    {% for recipe in recipes %}
        {{ recipe.cooking_method_name }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.cook_time }}<br>
        {{ recipe.diff_level }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method }}<br>
        {{ recipe.credit }}<br>
    {% endfor %}
</body>
</html>