{% extends "base.html" %}
{% block content %}

<h3 class="center-align"> Register </h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
      <div class="card-panel blue lighten-5">
        <!-- Username Input -->
        <div class="row">
          <div class="input-field col s12">
            <i class="fas fa-user-plus prefix teal-text"></i>
            <input type="text" name="username" minlength="8" pattern="^[a-zA-Z0-9]{8,12}$" maxlength="15" required id="username" class="validate"></input>
            <label for="username">Username</label>
          </div>
        </div>
        <!-- Password Input -->
        <div class="row">
          <div class="input-field col s12">
            <i class="fas fa-user-lock prefix teal-text"></i>
            <input name="password" minlength="8" maxlength="15" pattern="^[a-zA-Z0-9\W+]{8,12}$" required id="password" type="password" class="icon_prefix validate">
            <label for="password">Password</label>
          </div>
        </div>
        <!-- Register Button -->
        <div class="row">
          <button class="col s12 btn-large teal text-shadow" type="submit">
            Register <i class="fas fa-sign-in-alt"></i>
          </button>
        </div>
      </div>
    </form>
</div>

{% endblock %}